# Ignore EVERYTHING
*

# Allow directories (so Git can traverse)
!*/

# Allow only these files
!force-app/main/default/lwc/quiz_app_lwc/quiz_app_lwc.html
!force-app/main/default/lwc/quiz_app_lwc/quiz_app_lwc.js
!force-app/main/default/lwc/quiz_app_lwc/quiz_app_lwc.js-meta.xml
!README.md
